---
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import UserIcon from "../components/icons/User.astro";
import MainInfo from "../components/MainInfo.astro";
import AboutMe from "../components/AboutMe.astro";


---

<Layout 
title="Portfolio de Trebys - Ingeniero en TI"
description="Contrata a Esteban López, Alias Trebys como Ingeniero en TI para tu empresa.">

  <main class="px-4">
    <SectionContainer class="py-32 pb-24">
      <MainInfo>
        </slot>
      </MainInfo>
   
      
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <UserIcon class="size-10"/>
        Sobre mí
      </h2>
      <AboutMe />
      
    </SectionContainer>


    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center ">

        <CodeIcon class="size-10"/>
        Proyectos
      </h2>
      
      <Projects />
    </SectionContainer>

    
  </main>

  <style>
    h1 {
      font-size: 2rem; /* Tamaño de fuente base */
    }

    h2 {
      font-size: 1.75rem; /* Tamaño de fuente base */
    }

    h3 {
      font-size: 1.25rem; /* Tamaño de fuente base */
    }

    @media (min-width: 640px) {
      h1 {
        font-size: 2.5rem; /* Tamaño de fuente en pantallas más grandes */
      }

      h2 {
        font-size: 2rem; /* Tamaño de fuente en pantallas más grandes */
      }

      h3 {
        font-size: 1.5rem; /* Tamaño de fuente en pantallas más grandes */
      }
    }

    @media (min-width: 768px) {
      h1 {
        font-size: 3rem; /* Tamaño de fuente en pantallas más grandes */
      }

      h2 {
        font-size: 2.5rem; /* Tamaño de fuente en pantallas más grandes */
      }

      h3 {
        font-size: 1.75rem; /* Tamaño de fuente en pantallas más grandes */
      }
    }

    @media (min-width: 1024px) {
      h1 {
        font-size: 3.5rem; /* Tamaño de fuente en pantallas más grandes */
      }

      h2 {
        font-size: 3rem; /* Tamaño de fuente en pantallas más grandes */
      }

      h3 {
        font-size: 2rem; /* Tamaño de fuente en pantallas más grandes */
      }
    }

    

    .w-6.h-6 {
      stroke: #ffffff; /* Color blanco para el icono */
    }

    @media (min-width: 640px) {
      .btn-mail {
        padding: 0.6em 1.2em;
        font-size: 1.1rem;
      }
    }

    @media (min-width: 768px) {
      .btn-mail {
        padding: 0.7em 1.4em;
        font-size: 1.2rem;
      }
    }

    @media (min-width: 1024px) {
      .btn-mail {
        padding: 0.8em 1.75em;
        font-size: 1.25rem;
      }
    }
  </style>
</Layout>
