---
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import UserIcon from "../components/icons/User.astro";
import MainInfo from "../components/MainInfo.astro";
import AboutMe from "../components/AboutMe.astro";


---

<Layout 
title="Portfolio de Trebys - Ingeniero en TI"
description="Contrata a Esteban López, Alias Trebys como Ingeniero en TI para tu empresa.">

  <main class="px-4">
    <SectionContainer class="py-32 pb-24">
      <MainInfo>
        </slot>
      </MainInfo>
   
      
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="sobre-mi">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <UserIcon class="size-10"/>
        Sobre mí
      </h2>
      <AboutMe />
      
    </SectionContainer>


    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center ">

        <CodeIcon class="size-10"/>
        Proyectos
      </h2>
      
      <Projects />
    </SectionContainer>

  </div>
  </main>

</Layout>
