---
import JavaScriptIcon from "./icons/JavaScript.astro";
import SharpIcon from "./icons/CSharp.astro";
import PythonIcon from "./icons/Python.astro";
import TailWindIcon from "./icons/TailWind.astro";
import HtmlIcon from "./icons/Html.astro";
import CssIcon from "./icons/Css.astro";
import JavaIcon from "./icons/Java.astro";
import SQLIcon from "./icons/SQLServer.astro";
import LinkButton from "./LinkButton.astro";
---

<div class="flex items-center max-w-5xl mx-auto mt-12 p-6">
  <!-- Imagen -->
  <div class="flex-shrink-0 mr-8">
    <img
      class="rounded-lg shadow-lg w-64 h-64 object-cover"
      src="/src/images/esteban_foto.jpg"
      alt="Esteban López"
    />
  </div>

  <!-- Contenido -->
  <div class="text-gray-800 dark:text-white">
    <h1 class="text-4xl font-semibold text-emerald-400 mb-4">¿Quién soy?</h1>
    <p class="text-xl text-gray-800 dark:[&>strong]:text-emerald-300 [&>strong]:text-emerald-400 [&>strong]:font-semibold dark:text-gray-300">
      ¡Hola! Mi nombre es <strong>Esteban López Campos y tengo 22 años</strong>, un estudiante del <strong>Colegio Universitario de Costa Rica (CUC).</strong> Actualmente, estoy a menos de 6 meses de graduarme en la carrera de <strong>Tecnologías de Información.</strong> Durante mis estudios, he adquirido un perfil integral que abarca <strong>soporte técnico de computadoras, redes, inglés, administración de proyectos de software, programación de aplicaciones de escritorio y web, y un sólido conocimiento en bases de datos.</strong> Tengo una gran disposición para aprender y crecer en cualquier campo del sector.
    </p>

    <!-- Icons de tecnologías -->
    <div class="flex flex-wrap gap-4 mb-6 mt-4">
      <div class="flex flex-col items-center">
        <SharpIcon class="size-6 mt-2" />
        <span class="mt-2">C#</span>
      </div>
      <div class="flex flex-col items-center">
        <PythonIcon class="size-6 mt-2" />
        <span class="mt-2">Python</span>
      </div>
      <div class="flex flex-col items-center">
        <JavaScriptIcon class="size-6 mt-2" />
        <span class="mt-2">JavaScript</span>
      </div>
      <div class="flex flex-col items-center">
        <JavaIcon class="size-6 mt-2" />
        <span class="mt-2">JAVA</span>
      </div>
      <div class="flex flex-col items-center">
        <TailWindIcon class="size-6 mt-2" />
        <span class="mt-2">TailWind</span>
      </div>
      <div class="flex flex-col items-center">
        <HtmlIcon class="size-6 mt-2" />
        <span class="mt-2">HTML</span>
      </div>
      <div class="flex flex-col items-center">
        <CssIcon class="size-6 mt-2" />
        <span class="mt-2">CSS</span>
      </div>
      <div class="flex flex-col items-center">
        <SQLIcon class="size-6 mt-2" />
        <span class="mt-2">SQL Server</span>
      </div>
    </div>

    <!-- Botón de descarga de CV -->
    <LinkButton href="/public/CV/CV_Esteban_Lopez.pdf">
      Descargar CV
    </LinkButton>
  </div>
</div>
