---
import JavaScriptIcon from "./icons/JavaScript.astro";
import SharpIcon from "./icons/Sharp.astro";
import PythonIcon from "./icons/Python.astro";
import TailWindIcon from "./icons/TailWind.astro";
import HtmlIcon from "./icons/Html.astro";
import CssIcon from "./icons/Css.astro";
import JavaIcon from "./icons/Java.astro";
import SQLIcon from "./icons/SQLServer.astro";
---

<div class="flex items-start max-w-5xl mx-auto mt-12 p-6">
  <!-- Imagen -->
  <div class="flex-shrink-0 mr-8">
    <img
      class="rounded-lg shadow-lg w-64 h-64 object-cover"
      src="/src/images/esteban_foto.jpg"
      alt="Esteban López"
    />
  </div>

  <!-- Contenido -->
  <div class="text-gray-800 dark:text-white">
    <h1 class="text-4xl font-bold mb-2">About Me</h1>
    <h2 class="text-xl font-semibold text-emerald-400 mb-4">Who Am I?</h2>
    <p class="text-lg mb-4">
      I am currently a master’s student in Applied Geoinformatics at the
      University of Salzburg, Austria. I have a keen interest in front-end and
      GIS development. My goal is to use my expertise in building exciting and
      functional user interfaces. Additionally, I employ my geospatial analysis,
      modeling, and process automation skills to engineer innovative,
      customizable, and sustainable software solutions. The following are tech
      stacks that I use regularly:
    </p>

    <!-- Icons de tecnologías -->
    <div class="flex flex-wrap gap-4 mb-6">
      <div class="flex flex-col items-center">
        <SharpIcon class="size-6" />
        <span class="mt-2">C#</span>
      </div>
      <div class="flex flex-col items-center">
        <PythonIcon class="size-6" />
        <span class="mt-2">Python</span>
      </div>
      <div class="flex flex-col items-center">
        <JavaScriptIcon class="size-6" />
        <span class="mt-2">JavaScript</span>
      </div>
      <div class="flex flex-col items-center">
        <JavaIcon class="size-6" />
        <span class="mt-2">JAVA</span>
      </div>
      <div class="flex flex-col items-center">
        <TailWindIcon class="size-6" />
        <span class="mt-2">TailWind</span>
      </div>
      <div class="flex flex-col items-center">
        <HtmlIcon class="size-6" />
        <span class="mt-2">HTML</span>
      </div>
      <div class="flex flex-col items-center">
        <CssIcon class="size-6" />
        <span class="mt-2">CSS</span>
      </div>

      <div class="flex flex-col items-center">
        <SQLIcon class="size-6" />
        <span class="mt-2">SQL Server</span>
      </div>
    </div>

    <!-- Botón de descarga de CV -->
    <a
      href="/public/CV/CV_Esteban_Lopez.pdf"
      class="inline-block px-6 py-2 text-lg font-semibold text-center text-white bg-emerald-400 rounded-lg shadow-lg hover:bg-emerald-500"
    >
      Descargar CV
    </a>
  </div>
</div>
