<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto ">
    <!-- Cambiar la foto por un logo-->
    <a href="#top">
        <img 
        src="/src/images/esteban_foto.jpg"
        alt="Esteban logo" 
        class="rounded-full size-12"
        />
    </a>
    
    <div class="flex-grow flex justify-center">
        <nav class="flex flex-row gap-x-11 opacity-80">
            <a href="#sobre-mi" >Sobre Mí</a>
            <a href="#proyectos" >Proyectos</a>
            <a href="#contacto">Contacto</a>
        </nav>
    </div>
</header>