---
const personalImageAlt = "Esteban López";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
---
<div class="flex items-center max-w-5xl mx-auto">
  <!-- Contenido -->
  <div class="mr-8 text-gray-800 dark:text-white">
    <h1 class="text-4xl sm:text-5xl tracking-tight font-bold">Esteban López</h1>
    <h2 class="text-5xl sm:text-5xl tracking-tight font-bold text-emerald-400">Programador Entry-Level Full Stack</h2>
    <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-emerald-300 [&>strong]:text-emerald-400 [&>strong]:font-semibold dark:text-gray-300">
     
      <strong>Bienvenido a mi portfolio </strong> 
      podras ver <strong>quién soy y ver mi CV,</strong> explora <strong> mis trabajos</strong> y si deseas ponerte en <strong>contacto conmigo</strong> o si tienes alguna pregunta para colaborar, podrás hacerlo sin problema. ¡Gracias por visitar!
    </p>
    <nav class="flex gap-4 mt-8 flex-wrap">
      <SocialPill href="https://www.linkedin.com/in/esteban-lópez-campos">
        <LinkedInIcon class="size-4 lg:size-6" />
        LinkedIn
      </SocialPill>

      <SocialPill href="https://github.com/Trebys">
        <GitHubIcon class="size-4 lg:size-6" />
        GitHub
      </SocialPill>

      <SocialPill href="mailto:estelopez2014@gmail.com">
        <MailIcon class="size-4 lg:size-6" />
        estelopez2014@gmail.com
      </SocialPill>
    </nav>
  </div>

  <!-- Imagen -->
  <div class="flex-shrink-0">
    <img
      class="rounded-lg shadow-lg w-48 h-48 object-cover"
      src="/src/images/esteban_foto.jpg"
      alt="Esteban López"
    />
  </div>
</div>


